<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Covid-19 Vaccine Registration</span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/vaccinationDetails" routerLinkActive="mat-accent">Vacination Details</a>
    </li>
    <!-- <li>
      <a mat-button routerLink="/myAccount">My Account</a>
    </li> -->
    <li>
      <a mat-button (click)="onLogout()">Logout</a>
    </li>
  </ul>
</mat-toolbar>
