<div class="wrapper">
  <div class="registerHeader">
    <img src="../../../../assets/syringe.png" alt="Vaccine Vial and Syringe" id="app_logo">
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    <h1 class="registerHeadingOne">Covid-19 Vaccine Registration</h1>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form (submit)="register()" [formGroup]='form'>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName">
        <mat-error id="firstNameError" *ngIf="form.get('firstName').invalid">Please enter a First Name.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName">
        <mat-error id="lastNameError" *ngIf="form.get('lastName').invalid">Please enter a Last Name.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Mobile</mat-label>
        <input matInput type="tel" formControlName="mobile">
        <mat-error id="mobileError" *ngIf="form.get('mobile').invalid">Please enter a Mobile Number.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error id="emailError" *ngIf="form.get('email').invalid">Please enter a valid Email.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" (input)="onPasswordInput()">
        <mat-error id="passwordError" *ngIf="form.get('password').invalid">Please enter a Password.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" (input)="onPasswordInput()">
        <mat-error id="passwordError" *ngIf="form.get('confirmPassword').hasError('required')">Please enter a Password.</mat-error>
        <mat-error *ngIf="form.get('confirmPassword').invalid && !form.get('confirmPassword').hasError('required')">Password does not match.</mat-error>
      </mat-form-field>

      <div class="btnHolder">
        <button id="register" mat-raised-button color="primary" type="submit">Register</button>
      </div>
    </form>
    <div class="loginLink" [routerLink] = "['/login']">Already Registered?</div>
  </mat-card>
</div>
