<div class="wrapper">
  <div class="loginHeader">
    <img src="../../../../assets/syringe.png" alt="Vaccine Vial and Syringe" id="app_logo">
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    <h1 class="loginHeadingOne">Covid-19 Vaccine Registration</h1>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form (submit)="login()" [formGroup]='form'>
      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error id="emailError" *ngIf="form.get('email').invalid">Please enter a valid Email.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error id="passwordError" *ngIf="form.get('password').invalid">Please enter a Password.</mat-error>
      </mat-form-field>

      <div class="btnHolder">
        <button id="login" mat-raised-button color="primary" type="submit">Login</button>
      </div>
    </form>
    <div class="registerLink" [routerLink] = "['/register']">Not Yet Registered?</div>
  </mat-card>
</div>
