.mat-card{
  margin: auto;
  width: 50%;
}

.mat-form-field{
  width: 100%;
  margin-top: 0.7vh;
  margin-bottom: 0.7vh;
}

input{
  width: 100%;
}

.btnHolder{
  width: 100%;
  text-align: center;
}

button{
  width: 20%;
}
