.wrapper{
  background-color: #ede3df;
  min-height: 100%;
  padding-bottom: 9.85vh;
}


.mat-card{
  margin: auto;
  margin-bottom: 3vh;
  width: 50%;
}

.mat-form-field{
  width: 100%;
  margin-top: 0.7vh;
  margin-bottom: 0.7vh;
}

input{
  width: 100%;
}

.btnHolder{
  width: 100%;
  text-align: center;
}

button{
  width: 20%;
}

#footer{
  width: 100%;
  background-color: #2196f3;
  height: 10vh;
  margin-top: -9.85vh;
}
