<div class="wrapper">
  <app-header></app-header>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Vaccination Details</mat-card-title>
    </mat-card-header>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="saveVaccinationDetails()" [formGroup]='form' *ngIf="!isLoading">
      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>PPSN</mat-label>
        <input matInput type="text" formControlName="ppsn">
        <mat-error id="ppsnError" *ngIf="form.get('ppsn').invalid">Please enter a PPSN.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Date Of Birth</mat-label>
        <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error id="dateOfBirthError" *ngIf="form.get('dateOfBirth').invalid">Please enter a Date of Birth.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genderList" [value]="gender.value">{{gender.viewValue}}</mat-option>
        </mat-select>
        <mat-error id="genderError" *ngIf="form.get('gender').invalid">Please select a Gender.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Nationality</mat-label>
        <input matInput type="text" formControlName="nationality" >
        <mat-error id="nationalityError" *ngIf="form.get('nationality').invalid">Please enter a Nationality.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Address 1</mat-label>
        <input matInput type="text" formControlName="addressOne">
        <mat-error id="addressOneError" *ngIf="form.get('addressOne').invalid">Please enter an Address 1.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Address 2</mat-label>
        <input matInput type="text" formControlName="addressTwo">
        <mat-error id="addressTwoError" *ngIf="form.get('addressTwo').invalid">Please enter an Address 2.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>City</mat-label>
        <input matInput type="text" formControlName="city">
        <mat-error id="cityError" *ngIf="form.get('city').invalid">Please enter a City.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Post Code</mat-label>
        <input matInput type="text" formControlName="postCode">
        <mat-error id="postCodeError" *ngIf="form.get('postCode').invalid">Please enter a Post Code.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value">
        <mat-label>Vaccine Preference</mat-label>
        <mat-select formControlName="vaccinePreference">
          <mat-option *ngFor="let vaccinePreference of vaccinePreferenceList" [value]="vaccinePreference.value">{{vaccinePreference.viewValue}}</mat-option>
        </mat-select>
        <mat-error id="vaccinePreferenceError" *ngIf="form.get('vaccinePreference').invalid">Please enter a Vaccine Preference.</mat-error>
      </mat-form-field>

      <div class="btnHolder">
        <button id="save" mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>
  </mat-card>
</div>
<footer id="footer"></footer>

